:root {
  --primary-color-1: rgb(53, 26, 104);
  --primary-color-2: rgb(180, 178, 68);
  --secondary-color-1: #ddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-top: 4.5em;
}

.navbar {
  background-color: var(--primary-color-1) !important;
  box-shadow: 0 4px 2px -2px var(--primary-color-2);
  padding-right: 5%;
  z-index: 20;
}

.navbar .navbar-nav {
  display: flex;
  gap: 0.5em;
  text-align: left;
  padding-left: 10%;
}

.navbar-brand {
  padding: 10px;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  font-weight: bold;
}

.navbar-brand .part1 {
  color: rgb(54, 41, 29);
}

.navbar-brand .part2 {
  color: rgb(198, 21, 21);
}

.navbar-brand .icon {
  color: rgb(235, 230, 69);
  margin-left: 4px;
}

.icon .fa-globe {
  color: #3265b0;
  margin-right: 2px;
}

.navbar .nav-separator {
  cursor: not-allowed;
  display: none;
}

.navbar a.onit {
  color: var(--primary-color-2) !important;
  font-weight: bold;
  font-size: 18px;
  cursor: unset;
  pointer-events: none;
}

main {
  padding-top: 4%;
  padding-bottom: 15%;
  background-image: url("https://images.unsplash.com/photo-1600633349333-eebb43d01e23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(205, 247, 151, 0.2);
}

footer {
  background-color: var(--primary-color-1);
  color: #bbb;
  font-size: 12px;
  padding: 5px;
  text-align: left;
  padding-left: 5%;
}

footer .fa-heart {
  color: red;
}

a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
}

footer a {
  color: rgb(155, 116, 79);
  font-weight: bold;
  font-size: 12px;
}

a:hover {
  color: rgb(192, 150, 33) !important;
}

.countriesGrid {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 8%;
  gap: 30px;
}

.countriesGrid > * {
  flex: 1 1 9.5em;
}

.country {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  box-shadow: 3px 4px 2px 3px var(--primary-color-2);
}

.flag {
  width: 100%;
  height: auto;
  min-height: 90px;
  max-height: 110px;
  border: 2px solid #bbb;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.nameAndLikes {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nameAndLikes h5 {
  font-size: 20px;
  font-family: 'Yaldevi', sans-serif;
}

.nameAndLikes h6 .fa-heart {
  margin-right: 5px;
  cursor: pointer;
}

.nameAndLikes h6 .fa-heart:hover {
  color: red;
  transform: scale(1.1);
}

.commentBtn {
  justify-self: end;
}

.commentBtn button {
  font-size: 12px;
}